<div class="row clearfix">
    <div class="col-md-4">
        <div class="form-group">
            <label>Occassion</label>
            <input type="text" class="form-control" ng-model="vm.item.occassion" placeholder="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Date</label>
            <input type="text" class="form-control" ng-model="vm.item.date"  placeholder="">

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Day</label>
            <input type="text" class="form-control" ng-model="vm.item.day" placeholder="">
        </div>
    </div>

</div>