<div class="row clearfix">
    <div class="col-md-4">
        <div class="form-group">
            <label>Material Code</label>
            <input type="text" class="form-control" ng-model="vm.item.code" placeholder="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Material Number</label>
            <input type="text" class="form-control" ng-model="vm.item.number"  placeholder="">

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Material Description</label>
            <input type="text" class="form-control" ng-model="vm.item.description" placeholder="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Unit of Measurement</label>
            <input type="text" class="form-control" ng-model="vm.item.UnitOfMeasure" placeholder="">
        </div>
    </div>

</div>