<div class="row clearfix">
    <div class="col-md-4">
        <div class="form-group">
            <label>Role</label>
            <input type="text" class="form-control" ng-model="vm.item.name" placeholder="">
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="form-group">
            <label>Module</label>
            <input type="text" class="form-control" ng-model="vm.item.module" placeholder="">
        </div>    
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Active/Inactive</label>
            <input type="checkbox" class="form-control" ng-model="vm.item.isactive" placeholder="">
        </div>
    </div>

</div>