<div class="row clearfix">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tax Description</label>
            <input type="text" class="form-control" ng-model="vm.item.description" placeholder="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Tax Rate</label>
            <input type="text" class="form-control" ng-model="vm.item.rate"  placeholder="">

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Start Date</label>
            <input type="text" class="form-control" ng-model="vm.item.startdate" placeholder="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>End Date</label>
            <input type="text" class="form-control" ng-model="vm.item.enddate" placeholder="">
        </div>
    </div>

</div>