<div class="row clearfix">
    <div class="col-md-4">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" ng-model="vm.item.name" placeholder="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>User Age</label>
            <input type="text" class="form-control" ng-model="vm.item.age"  placeholder="">

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Work Email</label>
            <input type="email" class="form-control" ng-model="vm.item.workEmail" placeholder="">
        </div>
    </div>

</div>