<div>

    <h3><button ng-click="vm.add()">Add</button></h3>


    <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <td><button ng-click="vm.edit(row)">Edit</button><button ng-click="vm.delete(row)">Delete</button></td>
            <td data-title="'Full Name'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
            <td data-title="'Age'" filter="{age: 'number'}" sortable="'age'">{{row.age}}</td>
            <td data-title="'WorkEmail'">{{row.workEmail}}</td>
        </tr>
        <tr ng-show="vm.loading">
            <td colspan="4">Please wait, data is loading....</td>
        </tr>
    </table>

</div>